# Copie este arquivo para .env.local e preencha os valores.
# Nunca commite o .env.local no git.

DB_SERVER=181.41.170.237
DB_PORT=1319
DB_DATABASE=CB62GP_136327_PR_PD
DB_USER=CLT136327READ
DB_PASSWORD=lgchq12069YVJKF?!
